@import "~@angular/material/prebuilt-themes/indigo-pink.css";

nav {
  background-color: #333;
  height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

li {
  float: left;
  height: 100%;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color: #111;
}



.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  margin-bottom: 60%;
  
}

input[type="text"] {
  width: 500px;
  height: 50px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  padding: 0px 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  height: 50px;
  width: 50px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: -50px;
}

button[type="submit"]:hover {
  background-color: #e6e6e6;
}

.fa-search {
  color: #555;
}


nav {
    background-color: #333;
    height: 50px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
  }
  
  li {
    float: left;
    height: 100%;
  }
  
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #111;
  }

  mat-card {
    margin-bottom: 5mm;
  }


  .full {
    width: 100vw;
    height: 100vh;
  }

  .submit-btn {
    background-color: #4CAF50; /* Green background color */
    border: none; /* Remove button border */
    border-radius: 50px; /* Make the button round */
    color: white; /* Text color */
    padding: 12px 24px; /* Add some padding to the button */
    text-align: center; /* Center the text in the button */
    text-decoration: none; /* Remove underline from text */
    display: inline-block; /* Make the button inline */
    font-size: 16px; /* Set font size */
    cursor: pointer; /* Add cursor pointer */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); /* Add shadow */
  }
  
  /* Change the button background color on hover */
  .submit-btn:hover {
    background-color: #3e8e41;
  }

  .mat2{
    background-color: #73dd77;
    padding-left: 5mm;
  }

  .mat1{
    background-color: #f18e1c;
    padding-left: 5mm;
  }
  
  img {
    height: 300px;
    width: auto;
    place-content: center;
  }
  